{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

{{ include('home/nav.html.twig') }}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">

            <!-- Masthead Avatar Image -->
            <span class="d-none d-lg-block">
            <img class="rounded-circle img-fluid mb-5 d-block mx-auto" src="{{ asset('img/HPIM7368_1.png')}}" style="width:30%" alt="">
            </span>
            <!-- Masthead Heading -->
            <h1 class="masthead-heading text-uppercase mb-0">Hichém KOCHÉD</h1>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading -->
            <p class="masthead-subheading font-weight-light mb-0"></p>
        </div>
    </header>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Compétences</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- Portfolio Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/cabin.png')}}" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/cake.png')}}" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/circus.png')}}" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/game.png')}}" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 5 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/safe.png')}}" alt="">
                    </div>
                </div>

                <!-- Portfolio Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/submarine.png')}}" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </section>
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">

            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">à propos</h2>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- About Section Content -->
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Fort d’une double compétence en informatique et en géosciences, j’ai pu ainsi prouver ma capacité à
                        m’adapter à des environnements diversifiés, ma motivation et mon haut degré d’autonomie. Grâce
                        aux différents projets décrits dans mon CV, j’ai pu également développer ma capacité à travailler en
                        équipe ainsi que ma capacité à communiquer en situation professionnelle. </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Etudiant en master 2 informatique, je suis à la recherche d’un stage de fin de cycle pour
                        compléter ma formation en IPS, Je suis motivé, curieux avec l’envie de mettre en application
                        les compétences acquises lors de mes formations et aussi découvrir la diversité des outils mis à
                        disposition, dans un domaine en perpétuel expansion.</p>
                </div>
            </div>

            <!-- About Section Button -->
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" onclick="window.open('https://drive.google.com/open?id=1_nZcV9NoSFU2ggBfydpT5qT2xAseCOq7')" href="#">
                    <i class="fas fa-download mr-2"></i>
                    Téléchargez mon CV !
                </a>
            </div>

        </div>
    </section>
    <section class="page-section portfolio" id="hobbie">
        <div class="container">

            <!-- Portfolio Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">passe-temps</h2>

            <!-- Icon Divider -->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>

            <!-- Portfolio Grid Items -->
            <div class="row">

                <!-- hobie Item 1 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/jeux.png')}}" alt="">
                    </div>
                </div>

                <!-- hobie Item 2 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/randonnee.png')}}" alt="">
                    </div>
                </div>

                <!-- hobie Item 3 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/football.png')}}" alt="">
                    </div>
                </div>

                <!-- hobie Item 4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/music.png')}}" alt="">
                    </div>
                </div>

                <!-- hobie Item 5 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/technologies.png')}}" alt="">
                    </div>
                </div>

                <!-- hobie Item 6 -->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#hobieModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/voyage.png')}}" alt="">
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
    </section>

    {{ include('home/footer.html.twig') }}

    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; Your Website 2019</small>
        </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- Portfolio Modals -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->

                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">nom</h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="{{ asset('img/cabin.png')}}" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5">desc</p>
                                        <button class="btn btn-primary" href="#" onclick="window.open()" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/cake.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>
                                        <button class="btn btn-primary" href="#" onclick="window.open()" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/circus.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>
                                        <button class="btn btn-primary" href="#" onclick="window.open('')" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/game.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>
                                        <button class="btn btn-primary" href="#" onclick="window.open('')" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/safe.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>
                                        <button class="btn btn-primary" href="#" onclick="window.open('')" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/submarine.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>
                                        <button class="btn btn-primary" href="#" onclick="window.open('')" data-dismiss="modal">
                                            Lien Projet
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>


    <!-- hobie Modal 1 -->
    <div class="portfolio-modal modal fade" id="hobieModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>


                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/jeux.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <!-- hobie Modal 2 -->
    <div class="portfolio-modal modal fade" id="hobieModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/randonnee.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <!-- hobie Modal 3 -->
    <div class="portfolio-modal modal fade" id="hobieModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/football.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <!-- hobie Modal 4 -->
    <div class="portfolio-modal modal fade" id="hobieModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/music.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <!-- hobie Modal 5 -->
    <div class="portfolio-modal modal fade" id="hobieModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/technologies.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
    <!-- hobie Modal 6 -->
    <div class="portfolio-modal modal fade" id="hobieModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
                </button>

                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title -->
                                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"></h2>
                                        <!-- Icon Divider -->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon">
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image -->
                                        <img class="img-fluid rounded mb-5" src="img/voyage.png" alt="">
                                        <!-- Portfolio Modal - Text -->
                                        <p class="mb-5"></p>

                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>

{% endblock %}
